In [196]:
import pandas as pd
import numpy as np
import openpyxl

In [197]:
zakladki = pd.read_excel('Lista uczniów SP_LO_2022_2023 propozycje ocen rocznych.xlsx', sheet_name=None).keys()
zakladki

dict_keys(['1 SP uzup', '1 SP ram', '2 SP uzup', '2 SP ram', '3 SP uzup', '3 SP ram', '4 SP ram', '4 SP uzup', '5 SP uzup', '5 SP ram', '6 SP ram', '6 SP uzup', '7 SP uzup', '8 SP uzup', '7 SP ram', '8 SP ram', '1 LO uzup', '1 LO ram', '2 LO ram', '2 LO uzup', '3 LO uzup', '3 LO ram', '4 LO uzup', 'Arkusz1'])

In [198]:
zakladki = ['1 SP uzup', '1 SP ram', '2 SP uzup', '2 SP ram', '3 SP uzup', '3 SP ram', '4 SP ram', '4 SP uzup', '5 SP uzup', '5 SP ram', '6 SP ram', '6 SP uzup', '7 SP uzup', '8 SP uzup', '7 SP ram', '8 SP ram', '1 LO uzup', '1 LO ram', '2 LO ram', '2 LO uzup', '3 LO uzup', '3 LO ram', '4 LO uzup']
zakladki.sort()
# zakladki

In [199]:
df = pd.concat(pd.read_excel('Lista uczniów SP_LO_2022_2023 propozycje ocen rocznych.xlsx', sheet_name=s, usecols='B:E', skiprows=1).assign(Klasa = s) for s in zakladki)

In [200]:
df.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię/Imiona', 'e-mail', 'Klasa'], dtype='object')

In [201]:
df.dropna(subset=['L.p.', 'Nazwisko ucznia'], inplace = True)

In [202]:
df.drop_duplicates(subset=['Nazwisko ucznia', 'Imię/Imiona','Klasa'])
df

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram
2,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram
3,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram
4,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram
5,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [203]:
df.loc[df['Klasa']=='3 SP ram']

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Abouzeid,Laila,abouzeidagata@wp.pl,3 SP ram
2,2.0,Barrau-Kamińska,Ewa,aniaannakaminska@outlook.com,3 SP ram
3,3.0,Bryliński,Aleksander,contact@olgabrylinska.com,3 SP ram
4,4.0,Błażejczyk,Cyprian,blazejczykmalgorzata1@gmail.com,3 SP ram
5,5.0,Ciarciński,Franciszek,szmery80@gmail.com,3 SP ram
6,6.0,Dawidowski,Kuba,bd@sailoceans.com,3 SP ram
7,7.0,Farrell,Daniel,anna.farrell2011@gmail.com,3 SP ram
8,8.0,Głogowski,Marcel,kasia.zub@wp.pl,3 SP ram
9,9.0,Harbi,Adam,Izabela_fharbi@wp.pl,3 SP ram
10,10.0,Heugh,Daniella,ewa.heugh@gmail.com,3 SP ram
11,11.0,Juszczyk,Julia,kassjuszczyk@gmail.com,3 SP ram
12,12.0,Kalota,Leonard,judyta.kalota@gmail.com,3 SP ram
13,13.0,Kisiel,Apolonia,magda.blasiak@wp.pl,3 SP ram
14,14.0,Kucharska,Julia,magdalapszys@wp.pl,3 SP ram
15,15.0,Kula,Sylwia,marta.wysocka.3d@gmail.com,3 SP ram
16,16.0,Magdziarz,Jan,i.magdziarz@wp.pl,3 SP ram
17,17.0,Masalski,Krystian,masalski1@wp.pl,3 SP ram
18,18.0,Matuszczak,Gabriel,izabelamaria@gmail.com,3 SP ram
19,19.0,Misztal Alvarez,Nadia,jmisztal01@gmail.com,3 SP ram
20,20.0,Mudlaff,Aleksandra,teresa.mudlaff@gmail.com,3 SP ram
21,21.0,Murzanski,Cody,murzanskifamily@gmail.com,3 SP ram
22,22.0,Nowakowska,Joanna,nowakowska.k@op.pl,3 SP ram
23,23.0,Pac,Nadia,sholka999@wp.pl,3 SP ram
24,24.0,Piasecki,Filip,losmagda@wp.pl,3 SP ram
25,25.0,Planas Majchrzak,Victor,klaudiab201@gmail.com,3 SP ram
26,26.0,Polewski,Bartek,justyna.jarzembinska@wp.pl,3 SP ram
27,27.0,Rybicki,Stanisław,flightcrew17@gmail.com,3 SP ram
28,28.0,Safonov,Georgy,jmetelitsa@gmail.com,3 SP ram
29,29.0,Salwach,Tulasi,salwachola@gmail.com,3 SP ram
30,30.0,Sylla,Fode,sylla.jack5@gmail.com,3 SP ram
31,31.0,Tybuś,Natalia,etybus@gmail.com,3 SP ram
32,32.0,Zaky,Adam,bbecia@yahoo.co.uk,3 SP ram
33,33.0,Szałapska,Nel,kwiatilo@wp.pl,3 SP ram

In [204]:
dbzakladki = pd.read_excel('Uczniowie KNO 2022-2023 - aktualna — kopia.xlsx', sheet_name=None).keys()

In [205]:
dbzakladki= list(dbzakladki)
dbzakladki.sort()
dbzakladki

['1 LO ram',
 '1 LO uzup',
 '1 sp ram',
 '1 sp uzup',
 '2 LO ram',
 '2 LO uzup',
 '2 sp ram',
 '2 sp uzup',
 '3 LO ram',
 '3 LO uzup',
 '3 sp ram',
 '3 sp uzup',
 '4 LO ram',
 '4 LO uzup',
 '4 sp ram',
 '4 sp uzup',
 '5 sp ram',
 '5 sp uzup',
 '6 sp ram',
 '6 sp uzup',
 '7 sp ram',
 '7 sp uzup',
 '8 sp ram',
 '8 sp uzup',
 'Arkusz1',
 'Arkusz2',
 'Podsumowanie',
 'Teams uczniowie ALL',
 'Zespoły w Teams']

In [206]:
dbzakladki = ['1 LO ram',
 '1 LO uzup',
 '1 sp ram',
 '1 sp uzup',
 '2 LO ram',
 '2 LO uzup',
 '2 sp ram',
 '2 sp uzup',
 '3 LO ram',
 '3 LO uzup',
 '3 sp ram',
 '3 sp uzup',
 '4 LO ram',
 '4 LO uzup',
 '4 sp ram',
 '4 sp uzup',
 '5 sp ram',
 '5 sp uzup',
 '6 sp ram',
 '6 sp uzup',
 '7 sp ram',
 '7 sp uzup',
 '8 sp ram',
 '8 sp uzup']

In [207]:
db = pd.concat(pd.read_excel('Uczniowie KNO 2022-2023 - aktualna — kopia.xlsx', usecols='A:L', sheet_name = s).assign(Klasa = s) for s in dbzakladki)

In [208]:
db.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię ucznia', 'Drugie imię ucznia',
       'nr ksiegi', 'Data urodzenia ucznia', 'Miejsce urodzen..',
       'PESEL ucznia', 'Inny dokument t..', 'Nr i seria doku..',
       'Kraj pobytu ucznia', 'Email', 'Klasa'],
      dtype='object')

In [239]:
db

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [210]:
db.dropna(subset=['L.p.'], inplace = True)

In [211]:
db.drop_duplicates(subset=['Nazwisko ucznia', 'Imię ucznia', 'Klasa'], inplace = True)

In [240]:
db

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [213]:
db['Data urodzenia ucznia'] = pd.to_datetime(db['Data urodzenia ucznia'], errors='coerce')

C:\Users\WojciechBalcerzak\AppData\Local\Temp\ipykernel_5152\1309943092.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  db['Data urodzenia ucznia'] = pd.to_datetime(db['Data urodzenia ucznia'], errors='coerce')

In [241]:
db

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [20]:
df.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię/Imiona', 'e-mail', 'Klasa'], dtype='object')

In [21]:
df.columns = ['L.p.', 'Nazwisko', 'Imię', 'e-mail', 'Klasa']

In [224]:
db.columns

Index(['L.p.', 'Nazwisko', 'Imię', 'Drugie imię', 'nr_ksiegi',
       'Data urodzenia', 'Miejsce ur', 'PESEL', 'Inny dok', 'Nr i seria',
       'Kraj', 'e-mail', 'Klasa'],
      dtype='object')

In [225]:
db.columns == ['L.p.', 'Nazwisko', 'Imię', 'Drugie imię', 'nr_ksiegi',
       'Data urodzenia', 'Miejsce ur', 'PESEL', 'Inny dok', 'Nr i seria',
       'Kraj', 'e-mail', 'Klasa']

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [218]:
df

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram
2,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram
3,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram
4,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram
5,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [230]:
# d = df.merge(db[['Nazwisko', 'Imię', 'Drugie imię','nr_ksiegi', 'Data urodzenia', 'Miejsce ur','PESEL', 'Klasa']], on=['Nazwisko', 'Imię', 'Klasa'], how = 'left')

In [242]:
cc = pd.read_excel('../import_uczniow.xls')

In [243]:
cc.columns

Index(['Nr z dziennika', 'Imiona', 'Nazwisko', 'Płęć', 'Nr Karty',
       'Nr księgi ucznia', 'Pesel', 'Tel Ucznia', 'e-mail ucznia',
       'Data urodzenia', 'Miejsce urodzenia', 'Miejsce urodzenia miejscownik',
       'Ulica i nr domu', 'Kod pocztowy i miejscowość ', 'Województwo',
       'imię i nazwisko matki', 'numer telefonu do matki',
       'imię i nazwisko ojca', 'numer telefonu do ojca', 'email opiekun1 ',
       'email opiekun 2', 'uwagi ucznia'],
      dtype='object')

In [270]:
dd = db.loc[db['Klasa'] =='4 LO uzup']

In [271]:
dd.head()

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1,Sadowska,Victoria,Véronica,4250,2005-05-07,Bruksela,5250708881,NaN,NaN,Belgia,ewa.pisanko@gmail.com,4 LO uzup
1,2,Devigne,Eirys,NaN,4251,2005-06-22,NaN,"""05262212165",NaN,NaN,Francja,annelaurent@tlen.pl,4 LO uzup
2,3,Gniatkowski,Maurycy Stefan,NaN,4252,2004-11-22,Londyn,04312208930,NaN,NaN,Oman,tgniatkowski@gmail.com,4 LO uzup
3,4,Gromek,Bartłomiej,NaN,4253,2009-05-09,Warszawa,04290507173,NaN,NaN,Łotwa,malgorzata.hejduk-gromek@msz.gov.pl,4 LO uzup
4,5,Grzegorzewski,Ignacy,NaN,4254,2005-07-01,Warszawa,05210709291,NaN,NaN,Chiny (Tajwan),martapolka@gmail.com,4 LO uzup

In [272]:
# Inicjalizujemy pustą ramkę danych z odpowiednimi kolumnami
cd = pd.DataFrame(columns=cc.columns)

# Przypisujemy kolumny z dd do odpowiednich kolumn w cd
cd[['Nr księgi ucznia', 'Imiona', 'Nazwisko', 'Data urodzenia', 'Miejsce urodzenia', 'Pesel', 'e-mail ucznia']] = dd[['nr_ksiegi', 'Imię', 'Nazwisko', 'Data urodzenia', 'Miejsce ur', 'PESEL', 'e-mail']]

# Zostawiamy pozostałe kolumny puste, ponieważ nie mamy dla nich danych w dd

In [273]:
cd.head()

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Victoria,Sadowska,NaN,NaN,4250,5250708881,NaN,ewa.pisanko@gmail.com,2005-05-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Eirys,Devigne,NaN,NaN,4251,"""05262212165",NaN,annelaurent@tlen.pl,2005-06-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Maurycy Stefan,Gniatkowski,NaN,NaN,4252,04312208930,NaN,tgniatkowski@gmail.com,2004-11-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Bartłomiej,Gromek,NaN,NaN,4253,04290507173,NaN,malgorzata.hejduk-gromek@msz.gov.pl,2009-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Ignacy,Grzegorzewski,NaN,NaN,4254,05210709291,NaN,martapolka@gmail.com,2005-07-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [274]:
# Usuwamy '.0' na końcu wartości, konwertujemy na string
cd['Pesel'] = cd['Pesel'].astype(str).str.split('.').str[0]

# Uzupełniamy zera na początku do 11 cyfr
cd['Pesel'] = cd['Pesel'].str.zfill(11)

In [275]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Victoria,Sadowska,NaN,NaN,4250,05250708881,NaN,ewa.pisanko@gmail.com,2005-05-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Eirys,Devigne,NaN,NaN,4251,"""05262212165",NaN,annelaurent@tlen.pl,2005-06-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Maurycy Stefan,Gniatkowski,NaN,NaN,4252,04312208930,NaN,tgniatkowski@gmail.com,2004-11-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Bartłomiej,Gromek,NaN,NaN,4253,04290507173,NaN,malgorzata.hejduk-gromek@msz.gov.pl,2009-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Ignacy,Grzegorzewski,NaN,NaN,4254,05210709291,NaN,martapolka@gmail.com,2005-07-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Natalia Wiktoria,Jóźwicka,NaN,NaN,4255,04242204707,NaN,grazkaj@gazeta.pl,2004-04-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Róża Maria,Kozłowska,NaN,NaN,4256,02291711650,NaN,jtkozlowska@wp.pl,2005-02-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Julia,ŁapIńska,NaN,NaN,4257,04231404381,NaN,aneta.lapinska@orange.fr,2004-03-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Joel Franciszek,Mpika,NaN,NaN,4258,04230608038,NaN,mreklewska@yahoo.fr,2004-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Natalia Magdalena,Pasiut,NaN,NaN,4259,04290506028,NaN,ewka.pasiut@gmail.com,2004-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Michał Jerzy,Pawelec,NaN,NaN,4260,0000Francja,NaN,michal.j.pawelec@gmail.com,2004-10-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Mateusz Paweł,Polak,NaN,NaN,4261,04280910831,NaN,ewa.szczodrowska1@gmail.com,2004-09-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Karolina,Pysiewicz,NaN,NaN,4262,05240507526,NaN,jpx170@gmail.com,2005-04-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Youssef,Rabea,NaN,NaN,4263,05231411357,NaN,martacwikle@yahoo.co.uk,2005-03-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Nikola,Świacka,NaN,NaN,4264,05271200049,NaN,agnieszkaswi@interia.pl,2005-12-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
cd['Płęć'] = cd['Imiona'].apply(lambda x: 'k' if str(x).strip().endswith('a') else 'm')

In [277]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Victoria,Sadowska,k,NaN,4250,05250708881,NaN,ewa.pisanko@gmail.com,2005-05-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Eirys,Devigne,m,NaN,4251,"""05262212165",NaN,annelaurent@tlen.pl,2005-06-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Maurycy Stefan,Gniatkowski,m,NaN,4252,04312208930,NaN,tgniatkowski@gmail.com,2004-11-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Bartłomiej,Gromek,m,NaN,4253,04290507173,NaN,malgorzata.hejduk-gromek@msz.gov.pl,2009-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Ignacy,Grzegorzewski,m,NaN,4254,05210709291,NaN,martapolka@gmail.com,2005-07-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Natalia Wiktoria,Jóźwicka,k,NaN,4255,04242204707,NaN,grazkaj@gazeta.pl,2004-04-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Róża Maria,Kozłowska,k,NaN,4256,02291711650,NaN,jtkozlowska@wp.pl,2005-02-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Julia,ŁapIńska,k,NaN,4257,04231404381,NaN,aneta.lapinska@orange.fr,2004-03-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Joel Franciszek,Mpika,m,NaN,4258,04230608038,NaN,mreklewska@yahoo.fr,2004-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Natalia Magdalena,Pasiut,k,NaN,4259,04290506028,NaN,ewka.pasiut@gmail.com,2004-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Michał Jerzy,Pawelec,m,NaN,4260,0000Francja,NaN,michal.j.pawelec@gmail.com,2004-10-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Mateusz Paweł,Polak,m,NaN,4261,04280910831,NaN,ewa.szczodrowska1@gmail.com,2004-09-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Karolina,Pysiewicz,k,NaN,4262,05240507526,NaN,jpx170@gmail.com,2005-04-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Youssef,Rabea,m,NaN,4263,05231411357,NaN,martacwikle@yahoo.co.uk,2005-03-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Nikola,Świacka,k,NaN,4264,05271200049,NaN,agnieszkaswi@interia.pl,2005-12-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
cd.fillna('', inplace = True)

In [279]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,,Victoria,Sadowska,k,,4250,05250708881,,ewa.pisanko@gmail.com,2005-05-07,...,,,,,,,,,,
1,,Eirys,Devigne,m,,4251,"""05262212165",,annelaurent@tlen.pl,2005-06-22,...,,,,,,,,,,
2,,Maurycy Stefan,Gniatkowski,m,,4252,04312208930,,tgniatkowski@gmail.com,2004-11-22,...,,,,,,,,,,
3,,Bartłomiej,Gromek,m,,4253,04290507173,,malgorzata.hejduk-gromek@msz.gov.pl,2009-05-09,...,,,,,,,,,,
4,,Ignacy,Grzegorzewski,m,,4254,05210709291,,martapolka@gmail.com,2005-07-01,...,,,,,,,,,,
5,,Natalia Wiktoria,Jóźwicka,k,,4255,04242204707,,grazkaj@gazeta.pl,2004-04-22,...,,,,,,,,,,
6,,Róża Maria,Kozłowska,k,,4256,02291711650,,jtkozlowska@wp.pl,2005-02-14,...,,,,,,,,,,
7,,Julia,ŁapIńska,k,,4257,04231404381,,aneta.lapinska@orange.fr,2004-03-14,...,,,,,,,,,,
8,,Joel Franciszek,Mpika,m,,4258,04230608038,,mreklewska@yahoo.fr,2004-06-03,...,,,,,,,,,,
9,,Natalia Magdalena,Pasiut,k,,4259,04290506028,,ewka.pasiut@gmail.com,2004-05-09,...,,,,,,,,,,
10,,Michał Jerzy,Pawelec,m,,4260,0000Francja,,michal.j.pawelec@gmail.com,2004-10-27,...,,,,,,,,,,
11,,Mateusz Paweł,Polak,m,,4261,04280910831,,ewa.szczodrowska1@gmail.com,2004-09-08,...,,,,,,,,,,
12,,Karolina,Pysiewicz,k,,4262,05240507526,,jpx170@gmail.com,2005-04-05,...,,,,,,,,,,
13,,Youssef,Rabea,m,,4263,05231411357,,martacwikle@yahoo.co.uk,2005-03-14,...,,,,,,,,,,
14,,Nikola,Świacka,k,,4264,05271200049,,agnieszkaswi@interia.pl,2005-12-07,...,,,,,,,,,,

In [280]:
cd['Imiona'] = cd['Imiona'].str.title()
cd['Nazwisko'] = cd['Nazwisko'].str.title()

In [281]:
cd.to_csv('klasa4LOuzup.csv', sep = ';', encoding = 'windows-1250', errors='ignore', index=False)

In [282]:
db.columns

Index(['L.p.', 'Nazwisko', 'Imię', 'Drugie imię', 'nr_ksiegi',
       'Data urodzenia', 'Miejsce ur', 'PESEL', 'Inny dok', 'Nr i seria',
       'Kraj', 'e-mail', 'Klasa'],
      dtype='object')

In [289]:
db.Klasa.unique()

array(['1 LO ram', '1 LO uzup', '1 sp ram', '1 sp uzup', '2 LO ram',
       '2 LO uzup', '2 sp ram', '2 sp uzup', '3 LO ram', '3 LO uzup',
       '3 sp ram', '3 sp uzup', '4 LO ram', '4 LO uzup', '4 sp ram',
       '4 sp uzup', '5 sp ram', '5 sp uzup', '6 sp ram', '6 sp uzup',
       '7 sp ram', '7 sp uzup', '8 sp ram', '8 sp uzup'], dtype=object)

In [290]:
db.loc[db['Klasa'] == '3 sp ram']

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1.0,Bryliński,Aleksander,Piotr,13210603415.0,NaT,2013-01-06 00:00:00,Kraków,3507.0,NaN,NaN,Madagaskar,3 sp ram
1,2.0,Matuszczak,Gabriel,Stefan,13271500915.0,NaT,2013-07-15 00:00:00,Kościerzyna,3508.0,NaN,NaN,Polska,3 sp ram
2,3.0,Magdziarz,Jan,NaN,NaN,NaT,2013-02-11 00:00:00,Lublin,3509.0,Inny dokument ze zdjęciem,DEE115004,Włochy,3 sp ram
3,4.0,Kucharska,Julia,NaN,13292705540.0,NaT,2013-09-27 00:00:00,Ełk,3510.0,NaN,NaN,Stany Zjednoczone,3 sp ram
4,5.0,Barrau-Kamińska,Ewa,Hermine,13300806148.0,NaT,2013-10-08 00:00:00,Warszawa,3511.0,NaN,NaN,Francja,3 sp ram
5,6.0,Błażejczyk,Cyprian,Oskar,13212609098.0,NaT,2013-01-26 00:00:00,Craigavon,3512.0,NaN,NaN,Wielka Brytania,3 sp ram
6,7.0,Ciarciński,Franciszek,NaN,13210501171.0,NaT,2013-01-05 00:00:00,Świebodzice,3513.0,NaN,NaN,Ukraina,3 sp ram
7,8.0,Dawidowski,Kuba,NaN,13281707276.0,NaT,2013-08-17 00:00:00,Warszawa,3514.0,NaN,NaN,Stany Zjednoczone,3 sp ram
8,9.0,Farrell,Daniel,NaN,13233008592.0,NaT,2013-03-30 00:00:00,Auckland,3515.0,NaN,NaN,Holandia,3 sp ram
9,10.0,Głogowski,Marcel,NaN,13290609556.0,NaT,2013-09-06 00:00:00,Ustka,3516.0,NaN,NaN,Niemcy,3 sp ram
10,11.0,Harbi,Adam,NaN,14233110614.0,NaT,2014-03-31 00:00:00,Egipt,3517.0,NaN,NaN,Egipt,3 sp ram
11,12.0,Heugh,Daniella,NaN,NaN,NaT,2014-06-20 00:00:00,Wrocław,3518.0,paszport,EK 9555242,RPA,3 sp ram
12,13.0,Juszczyk,Julia,Agata,NaN,NaT,2013-10-10 00:00:00,Chełm,3519.0,NaN,NaN,Francja,3 sp ram
13,14.0,Kalota,Leonard,NaN,13290211638.0,NaT,2013-09-02 00:00:00,Yogyakarta,3520.0,NaN,NaN,Indonezja,3 sp ram
14,15.0,Masalski,Krystian,NaN,13290808498.0,NaT,2013-09-08 00:00:00,Halifax,3521.0,NaN,NaN,Wielka Brytania,3 sp ram
15,16.0,Misztal Alvarez,Nadia,NaN,13312011088.0,NaT,2013-11-20 00:00:00,Ponteareas,3522.0,NaN,NaN,Hiszpania,3 sp ram
16,17.0,Nowakowska,Joanna,NaN,13271905963.0,NaT,2013-07-19 00:00:00,Tychy,3523.0,NaN,NaN,Kazachstan,3 sp ram
17,18.0,Pac,Nadia,NaN,12311911382.0,NaT,2012-11-19 00:00:00,Gdańsk,3524.0,NaN,NaN,Grecja,3 sp ram
18,19.0,Piasecki,Filip,Einar,13322710339.0,NaT,2013-12-27 00:00:00,Bergen,3525.0,NaN,NaN,Norwegia,3 sp ram
19,20.0,Planas Majchrzak,Victor,NaN,14240200070.0,NaT,2014-04-02 00:00:00,Kraków,3526.0,NaN,NaN,Hiszpania,3 sp ram
20,21.0,Polewski,Bartek,Dawid,14240408256.0,NaT,2014-04-04 00:00:00,Bielsko-Biała,3527.0,NaN,NaN,Grecja,3 sp ram
21,22.0,Rybicki,Stanisław,NaN,13291007438.0,NaT,2013-09-10 00:00:00,Gdańsk,3528.0,NaN,NaN,Grenada,3 sp ram
22,23.0,Safonov,Georgy,NaN,13302509810.0,NaT,2013-10-25 00:00:00,Kraków,3529.0,NaN,NaN,Szwecja,3 sp ram
23,24.0,Salwach,Tulasi,Mandżari,13280307781.0,NaT,2013-08-03 00:00:00,Koszalin,3530.0,NaN,NaN,Wielka Brytania,3 sp ram
24,25.0,Sylla,Fode,Zygmund,13260711937.0,NaT,2013-06-07 00:00:00,Exeter/ Anglia,3531.0,NaN,NaN,Wielka Brytania,3 sp ram
25,26.0,Szałapska,Nel,NaN,13300310263.0,NaT,2013-10-03 00:00:00,Opoczno,3532.0,NaN,NaN,Niemcy,3 sp ram
26,27.0,Tybuś,Natalia,Gizela,13232904287.0,NaT,2013-03-29 00:00:00,Gdynia,3533.0,NaN,NaN,Irlandia,3 sp ram
27,28.0,Zaky,Adam,NaN,13212111273.0,NaT,2013-01-21 00:00:00,Londyn,3534.0,NaN,NaN,Wielka Brytania,3 sp ram
28,29.0,Abouzeid,Laila,NaN,1328081330.0,NaT,2013-08-08 00:00:00,Egipt/Kair,3535.0,NaN,NaN,Egipt,3 sp ram
29,30.0,Apolonia,Kisel,Maria,1328100928.0,NaT,2013-08-10 00:00:00,Edinburgh,3536.0,NaN,NaN,Wielka Brytania,3 sp ram
30,31.0,Kisiel,Apolonia,Maria,1328100928.0,NaT,2014-08-10 00:00:00,Edinburgh,3537.0,NaN,NaN,Wielka Brytania,3 sp ram
31,32.0,Kucharska,Julia,Brak,1329270554.0,NaT,2013-09-27 00:00:00,Ełk,3538.0,NaN,NaN,Stany Zjednoczone,3 sp ram
32,33.0,Kula,Sylwia,NaN,1321231034.0,NaT,2013-01-23 00:00:00,Mysłowice,3539.0,NaN,NaN,Czechy,3 sp ram
33,34.0,Mudlaff,Aleksandra,NaN,1330160090.0,NaT,2013-10-16 00:00:00,Gdańsk,3540.0,NaN,NaN,Cypr,3 sp ram
34,35.0,Murzanski,Cody,Jacob,1324010787.0,NaT,2013-04-01 00:00:00,"Hoffman Estates Il, U.S.A.",3541.0,NaN,NaN,Stany Zjednoczone,3 sp ram