In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
zakladki = pd.read_excel('Lista uczniów SP_LO_2022_2023 propozycje ocen rocznych.xlsx', sheet_name=None).keys()
zakladki

dict_keys(['1 SP uzup', '1 SP ram', '2 SP uzup', '2 SP ram', '3 SP uzup', '3 SP ram', '4 SP ram', '4 SP uzup', '5 SP uzup', '5 SP ram', '6 SP ram', '6 SP uzup', '7 SP uzup', '8 SP uzup', '7 SP ram', '8 SP ram', '1 LO uzup', '1 LO ram', '2 LO ram', '2 LO uzup', '3 LO uzup', '3 LO ram', '4 LO uzup', 'Arkusz1'])

In [3]:
zakladki = ['1 SP uzup', '1 SP ram', '2 SP uzup', '2 SP ram', '3 SP uzup', '3 SP ram', '4 SP ram', '4 SP uzup', '5 SP uzup', '5 SP ram', '6 SP ram', '6 SP uzup', '7 SP uzup', '8 SP uzup', '7 SP ram', '8 SP ram', '1 LO uzup', '1 LO ram', '2 LO ram', '2 LO uzup', '3 LO uzup', '3 LO ram', '4 LO uzup']
zakladki.sort()
# zakladki

In [4]:
df = pd.concat(pd.read_excel('Lista uczniów SP_LO_2022_2023 propozycje ocen rocznych.xlsx', sheet_name=s, usecols='B:E', skiprows=1).assign(Klasa = s) for s in zakladki)

In [5]:
df.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię/Imiona', 'e-mail', 'Klasa'], dtype='object')

In [6]:
df.dropna(subset=['L.p.', 'Nazwisko ucznia'], inplace = True)

In [7]:
df.drop_duplicates(subset=['Nazwisko ucznia', 'Imię/Imiona','Klasa'])
df

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram
2,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram
3,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram
4,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram
5,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [11]:
df.loc[df['Klasa']=='2 LO ram']

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Bielawski,Mateusz,marta.manager@interia.pl,2 LO ram
2,2.0,Borisuk,Matvei,yunonna1984@gmail.com,2 LO ram
3,3.0,Błądek,Kamil Paweł,andrzej.drzymala@op.pl,2 LO ram
4,4.0,Cegliński,Juliusz Tadeusz,denken@zyrardow.org,2 LO ram
5,5.0,Faberski,Jan,annajedlinska@interia.pl,2 LO ram
6,6.0,Goertz,Patrrik Sebastian,margo.goertz@gmx.de,2 LO ram
7,7.0,Hartman,Przemysław,martyna.hartman@wp.pl,2 LO ram
8,8.0,Hryniszyn,Kacper,malgorzatahryniszyn@gmail.com,2 LO ram
9,9.0,Jakubczak,Kalina Maria,balticanchor@gmail.com,2 LO ram
10,10.0,Jarosz,Ewa,kasiatar@wp.pl,2 LO ram
11,11.0,Kandybowicz,Maciej,magda.kandybowicz@gmail.com,2 LO ram
12,12.0,Kielańska,Zuzanna Magdalena,kachaflorek@gmail.com,2 LO ram
13,13.0,Kowalczyk,Dominik,ewakowalczyk09@gmail.com,2 LO ram
14,14.0,Kuch,Nadia Anna,anna.kuch@gmx.ch,2 LO ram
15,15.0,Majchrowicz,Michał,aga.maj007@gmail.com,2 LO ram
16,16.0,Matuszczak,Szymon,izabelamaria@gmail.com,2 LO ram
17,17.0,Motyka jest w III LO,Bartosz,patrykmotyka98@gmail.com,2 LO ram
18,18.0,Polewko,Fabian,"karolinanieszporek@gmail.com, fabianpolewko@gm...",2 LO ram
19,19.0,Puczkowski,Adrian Sebastian,adrianpuczkowski@interia.pl,2 LO ram
20,20.0,Puczyłowska,Wiktoria,puczylowska.k@gmail.com,2 LO ram
21,21.0,Romanowski,Alan,korneluk2@op.pl,2 LO ram
22,22.0,Rurarz,Karolina,justyna.mattu@gmail.com,2 LO ram
23,23.0,Sienkiewicz,Wiktoria,wojciech.sienkiewicz@gmail.com,2 LO ram
24,24.0,Sąsiadek,Szymon,mirkasasiadek@googlemail.com,2 LO ram
25,25.0,Talarowski,Marek,talarowska@vp.pl,2 LO ram
26,26.0,Witek,Natalia,witeksylwia@onet.pl,2 LO ram
27,27.0,Wygaś,Jan,monikadek@op.pl,2 LO ram
28,28.0,Zimnoch,Maja,artymus@o2.pl,2 LO ram
29,29.0,Średniawa,Oliwia,sredniawamaria@gmail.com,2 LO ram
30,30.0,Kozakiewicz,Zofia,Aga.sroczyńska@gmail.com,2 LO ram
31,31.0,Pawlak,Ryszard ??,NaN,2 LO ram

In [12]:
dbzakladki = pd.read_excel('Uczniowie KNO 2022-2023 - aktualna — kopia.xlsx', sheet_name=None).keys()

In [13]:
dbzakladki= list(dbzakladki)
dbzakladki.sort()
dbzakladki

['1 LO ram',
 '1 LO uzup',
 '1 sp ram',
 '1 sp uzup',
 '2 LO ram',
 '2 LO uzup',
 '2 sp ram',
 '2 sp uzup',
 '3 LO ram',
 '3 LO uzup',
 '3 sp ram',
 '3 sp uzup',
 '4 LO ram',
 '4 LO uzup',
 '4 sp ram',
 '4 sp uzup',
 '5 sp ram',
 '5 sp uzup',
 '6 sp ram',
 '6 sp uzup',
 '7 sp ram',
 '7 sp uzup',
 '8 sp ram',
 '8 sp uzup',
 'Arkusz1',
 'Arkusz2',
 'Podsumowanie',
 'Teams uczniowie ALL',
 'Zespoły w Teams']

In [14]:
dbzakladki = ['1 LO ram',
 '1 LO uzup',
 '1 sp ram',
 '1 sp uzup',
 '2 LO ram',
 '2 LO uzup',
 '2 sp ram',
 '2 sp uzup',
 '3 LO ram',
 '3 LO uzup',
 '3 sp ram',
 '3 sp uzup',
 '4 LO ram',
 '4 LO uzup',
 '4 sp ram',
 '4 sp uzup',
 '5 sp ram',
 '5 sp uzup',
 '6 sp ram',
 '6 sp uzup',
 '7 sp ram',
 '7 sp uzup',
 '8 sp ram',
 '8 sp uzup']

In [15]:
db = pd.concat(pd.read_excel('Uczniowie KNO 2022-2023 - aktualna — kopia.xlsx', usecols='A:L', sheet_name = s).assign(Klasa = s) for s in dbzakladki)

In [16]:
db.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię ucznia', 'Drugie imię ucznia',
       'nr ksiegi', 'Data urodzenia ucznia', 'Miejsce urodzen..',
       'PESEL ucznia', 'Inny dokument t..', 'Nr i seria doku..',
       'Kraj pobytu ucznia', 'Email', 'Klasa'],
      dtype='object')

In [17]:
db

,L.p.,Nazwisko ucznia,Imię ucznia,Drugie imię ucznia,nr ksiegi,Data urodzenia ucznia,Miejsce urodzen..,PESEL ucznia,Inny dokument t..,Nr i seria doku..,Kraj pobytu ucznia,Email,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07 00:00:00,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14 00:00:00,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10 00:00:00,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30 00:00:00,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16 00:00:00,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27 00:00:00,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21 00:00:00,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04 00:00:00,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09 00:00:00,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12 00:00:00,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [18]:
db.dropna(subset=['L.p.'], inplace = True)

In [19]:
db.drop_duplicates(subset=['Nazwisko ucznia', 'Imię ucznia', 'Klasa'], inplace = True)

In [23]:
db.loc[db['Data urodzenia ucznia'].isna()]

,L.p.,Nazwisko ucznia,Imię ucznia,Drugie imię ucznia,nr ksiegi,Data urodzenia ucznia,Miejsce urodzen..,PESEL ucznia,Inny dokument t..,Nr i seria doku..,Kraj pobytu ucznia,Email,Klasa
49,50,Świerk,Klaudia,NaN,4185,NaT,NaN,NaN,NaN,NaN,NaN,NaN,1 LO ram
32,33.0,Pawlak,Ryszard,NaN,4207.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2 LO ram
52,87,Mano,Alexandre,Brak,3126,NaT,0nan,NaN,Inny dokument ze zdjęciem,N* 170293104834 carte nationale d'identité,Francja,Francja,2 LO uzup
2,3.0,Bagieński-Morizur,Aleksander,NaN,4214.0,NaT,NaN,NaN,NaN,NaN,Francja,abagienska@amadeus.com,3 LO uzup
14,15.0,Nojszewska,Wiktoria,NaN,1168.0,NaT,Warszawa,5281109707.0,NaN,NaN,Słowenia,beatanojszewska@gmail.com,3 LO uzup
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64.0,Kuliś,Antoni,NaN,3867.0,NaT,NaN,NaN,NaN,NaN,NaN,kulisagnieszka@onet.eu,6 sp uzup
83,84.0,Petrowić,Filip,NaN,1467.0,NaT,Pula (Chorwacja),10303008331,NaN,NaN,Chorwacja,a.grunwald.p@gmail.com,6 sp uzup
37,34,Kopeć,Maya,NaN,1840.0,NaT,PARMA,09320310046,NaN,NaN,Włochy,z.kopec@live.it,7 sp uzup
25,26.0,Grabowski,Igor,NaN,4003,NaT,Ruda Sląska,8273005674,NaN,NaN,Holandia,anna.thenorthface@gmail.com,8 sp uzup
28,29.0,Wojda,Filip,Antonina,4006,NaT,Warszawa,9322910558,NaN,NaN,Rumunia,magdalena.grzeda@gmail.com,8 sp uzup

In [24]:
db['Data urodzenia ucznia'] = pd.to_datetime(db['Data urodzenia ucznia'], errors='coerce')

In [25]:
db

,L.p.,Nazwisko ucznia,Imię ucznia,Drugie imię ucznia,nr ksiegi,Data urodzenia ucznia,Miejsce urodzen..,PESEL ucznia,Inny dokument t..,Nr i seria doku..,Kraj pobytu ucznia,Email,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [26]:
df.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię/Imiona', 'e-mail', 'Klasa'], dtype='object')

In [27]:
df.columns = ['L.p.', 'Nazwisko', 'Imię', 'e-mail', 'Klasa']

In [28]:
db.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię ucznia', 'Drugie imię ucznia',
       'nr ksiegi', 'Data urodzenia ucznia', 'Miejsce urodzen..',
       'PESEL ucznia', 'Inny dokument t..', 'Nr i seria doku..',
       'Kraj pobytu ucznia', 'Email', 'Klasa'],
      dtype='object')

In [29]:
db.columns = ['L.p.', 'Nazwisko', 'Imię', 'Drugie imię', 'nr_ksiegi',
       'Data urodzenia', 'Miejsce ur', 'PESEL', 'Inny dok', 'Nr i seria',
       'Kraj', 'e-mail', 'Klasa']

In [30]:
df

,L.p.,Nazwisko,Imię,e-mail,Klasa
1,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram
2,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram
3,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram
4,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram
5,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [31]:
# d = df.merge(db[['Nazwisko', 'Imię', 'Drugie imię','nr_ksiegi', 'Data urodzenia', 'Miejsce ur','PESEL', 'Klasa']], on=['Nazwisko', 'Imię', 'Klasa'], how = 'left')

In [32]:
cc = pd.read_excel('../import_uczniow.xls')

In [33]:
cc.columns

Index(['Nr z dziennika', 'Imiona', 'Nazwisko', 'Płęć', 'Nr Karty',
       'Nr księgi ucznia', 'Pesel', 'Tel Ucznia', 'e-mail ucznia',
       'Data urodzenia', 'Miejsce urodzenia', 'Miejsce urodzenia miejscownik',
       'Ulica i nr domu', 'Kod pocztowy i miejscowość ', 'Województwo',
       'imię i nazwisko matki', 'numer telefonu do matki',
       'imię i nazwisko ojca', 'numer telefonu do ojca', 'email opiekun1 ',
       'email opiekun 2', 'uwagi ucznia'],
      dtype='object')

In [34]:
db.Klasa.unique()

array(['1 LO ram', '1 LO uzup', '1 sp ram', '1 sp uzup', '2 LO ram',
       '2 LO uzup', '2 sp ram', '2 sp uzup', '3 LO ram', '3 LO uzup',
       '3 sp ram', '3 sp uzup', '4 LO ram', '4 LO uzup', '4 sp ram',
       '4 sp uzup', '5 sp ram', '5 sp uzup', '6 sp ram', '6 sp uzup',
       '7 sp ram', '7 sp uzup', '8 sp ram', '8 sp uzup'], dtype=object)

In [35]:
dd = db.loc[db['Klasa'] =='2 LO ram']

In [36]:
dd.head()

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1.0,Hryniszyn,Kacper,Michał,4186.0,2006-03-15,Warszawa,6231510596,NaN,NaN,Polska,malgorzatahryniszyn@gmail.com,2 LO ram
1,2.0,Matuszczak,Szymon,Emanuel,4187.0,2007-08-01,Giżycko,7280105272,NaN,NaN,Polska,izabelamaria@gmail.com,2 LO ram
2,3.0,Polewko,Fabian,Dorian,4188.0,2006-04-23,Rybnik,642300117,NaN,NaN,Szwajcaria,"karolinanieszporek@gmail.com, fabianpolewko@gm...",2 LO ram
3,4.0,Witek,Natalia,Ewa,4189.0,2004-07-20,Szczecin,4272009343,NaN,NaN,Wielka Brytania,witeksylwia@onet.pl,2 LO ram
4,5.0,Sienkiewicz,Wiktoria,NaN,4190.0,2007-02-03,Warszawa,7220306769,NaN,GMT+9,Japonia,renata.sienkiewicz@gmail.com,2 LO ram

In [37]:
# Inicjalizujemy pustą ramkę danych z odpowiednimi kolumnami
cd = pd.DataFrame(columns=cc.columns)

# Przypisujemy kolumny z dd do odpowiednich kolumn w cd
cd[['Nr księgi ucznia', 'Imiona', 'Nazwisko', 'Data urodzenia', 'Miejsce urodzenia', 'Pesel', 'e-mail ucznia']] = dd[['nr_ksiegi', 'Imię', 'Nazwisko', 'Data urodzenia', 'Miejsce ur', 'PESEL', 'e-mail']]

# Zostawiamy pozostałe kolumny puste, ponieważ nie mamy dla nich danych w dd

In [38]:
cd.head()

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Kacper,Hryniszyn,NaN,NaN,4186.0,6231510596,NaN,malgorzatahryniszyn@gmail.com,2006-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Szymon,Matuszczak,NaN,NaN,4187.0,7280105272,NaN,izabelamaria@gmail.com,2007-08-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fabian,Polewko,NaN,NaN,4188.0,642300117,NaN,"karolinanieszporek@gmail.com, fabianpolewko@gm...",2006-04-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Natalia,Witek,NaN,NaN,4189.0,4272009343,NaN,witeksylwia@onet.pl,2004-07-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Wiktoria,Sienkiewicz,NaN,NaN,4190.0,7220306769,NaN,renata.sienkiewicz@gmail.com,2007-02-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Usuwamy '.0' na końcu wartości, konwertujemy na string
cd['Pesel'] = cd['Pesel'].astype(str).str.split('.').str[0]

# Uzupełniamy zera na początku do 11 cyfr
cd['Pesel'] = cd['Pesel'].str.zfill(11)

In [40]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Kacper,Hryniszyn,NaN,NaN,4186.0,06231510596,NaN,malgorzatahryniszyn@gmail.com,2006-03-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Szymon,Matuszczak,NaN,NaN,4187.0,07280105272,NaN,izabelamaria@gmail.com,2007-08-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fabian,Polewko,NaN,NaN,4188.0,00642300117,NaN,"karolinanieszporek@gmail.com, fabianpolewko@gm...",2006-04-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Natalia,Witek,NaN,NaN,4189.0,04272009343,NaN,witeksylwia@onet.pl,2004-07-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Wiktoria,Sienkiewicz,NaN,NaN,4190.0,07220306769,NaN,renata.sienkiewicz@gmail.com,2007-02-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Jan,Faberski,NaN,NaN,4191.0,06242203014,NaN,annajedlinska@interia.pl,2006-04-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Mateusz,Bielawski,NaN,NaN,4192.0,06302107270,NaN,marta.manager@interia.pl,2006-10-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Przemysław,Hartman,NaN,NaN,4193.0,07222605934,NaN,martyna.hartman@wp.pl,2007-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Karolina,Rurarz,NaN,NaN,4194.0,00000000nan,NaN,justyna.mattu@gmail.com,2007-05-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Wiktoria,Puczyłowska,NaN,NaN,4195.0,00000000nan,NaN,puczylowska.k@gmail.com,2005-07-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Antonina,Stus,NaN,NaN,4196.0,07253006287,NaN,jstus@wp.pl,2007-05-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Kamil,Błądek,NaN,NaN,1208.0,06232211151,NaN,andrzej.drzymala@op.pl,2006-03-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Matvei,Borisuk,NaN,NaN,1209.0,06231208415,NaN,yunonna1984@gmail.com,2006-03-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Juliusz Tadeusz,Cegliński,NaN,NaN,1210.0,07231706699,NaN,NaN,2007-03-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Patrik,Goertz,NaN,NaN,1211.0,07290311795,NaN,margo.goertz@gmx.de,2007-09-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Kalina,Jakubczak,NaN,NaN,1214.0,06312008640,NaN,balticanchor@gmail.com,2006-11-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Maciej,Kandybowicz,NaN,NaN,4197.0,05292011910,NaN,magda.kandybowicz@gmail.com,2005-09-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Zuzanna,Kielańska,NaN,NaN,1216.0,07290411822,NaN,kachaflorek@gmail.com,2007-09-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Dominik,Kowalczyk,NaN,NaN,1217.0,06251212674,NaN,ewakowalczyk09@gmail.com,2006-05-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Nadia,Kuch,NaN,NaN,1218.0,06322105744,NaN,anna.kuch@gmx.ch,2006-12-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Michał,Majchrowicz,NaN,NaN,1254.0,07292900272,NaN,aga.maj007@gmail.com,2007-09-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Szymon,Sąsiadek,NaN,NaN,1249.0,07323110311,NaN,mirkasasiadek@googlemail.com,2007-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Oliwia,Średniawa,NaN,NaN,1220.0,07281712389,NaN,sredniawamaria@gmail.com,2007-08-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Maja,Zimnoch,NaN,NaN,4198.0,03232907084,NaN,artymus@o2.pl,2003-03-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Sonia,Tylińska,NaN,NaN,4199.0,05312201183,NaN,sylwiakasyna@gmail.com,2005-11-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Adrian,Puczkowski,NaN,NaN,4200.0,05212111476,NaN,adrianpuczkowski@interia.pl,2005-01-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Bartosz,Motyka,NaN,NaN,4201.0,03302409630,NaN,patrykmotyka98@gmail.com,2003-10-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Marek,Talarowski,NaN,NaN,4202.0,06262308476,NaN,NaN,2006-06-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Ewa,Jarosz,NaN,NaN,4203.0,07272005623,NaN,NaN,2007-07-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Alan,Romanowski,NaN,NaN,4204.0,06261905193,NaN,NaN,2006-06-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Jan,Wygaś,NaN,NaN,4205.0,00000000nan,NaN,NaN,2006-04-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Zofia,Kozakiewicz,NaN,NaN,4206.0,07252506245,NaN,Aga.sroczyńska@gmail.com,2007-05-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Ryszard,Pawlak,NaN,NaN,4207.0,00000000nan,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Maja,Kordulewska,NaN,NaN,4208.0,07251107645,NaN,kkordulewski@gmail.com,2007-05-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
cd['Płęć'] = cd['Imiona'].apply(lambda x: 'k' if str(x).strip().endswith('a') else 'm')

In [42]:
# cd.loc[cd['Nazwisko'].str.contains('Mayer', case = False)]

In [43]:
cd.fillna('', inplace = True)

In [44]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,,Kacper,Hryniszyn,m,,4186.0,06231510596,,malgorzatahryniszyn@gmail.com,2006-03-15,...,,,,,,,,,,
1,,Szymon,Matuszczak,m,,4187.0,07280105272,,izabelamaria@gmail.com,2007-08-01,...,,,,,,,,,,
2,,Fabian,Polewko,m,,4188.0,00642300117,,"karolinanieszporek@gmail.com, fabianpolewko@gm...",2006-04-23,...,,,,,,,,,,
3,,Natalia,Witek,k,,4189.0,04272009343,,witeksylwia@onet.pl,2004-07-20,...,,,,,,,,,,
4,,Wiktoria,Sienkiewicz,k,,4190.0,07220306769,,renata.sienkiewicz@gmail.com,2007-02-03,...,,,,,,,,,,
5,,Jan,Faberski,m,,4191.0,06242203014,,annajedlinska@interia.pl,2006-04-22,...,,,,,,,,,,
6,,Mateusz,Bielawski,m,,4192.0,06302107270,,marta.manager@interia.pl,2006-10-21,...,,,,,,,,,,
7,,Przemysław,Hartman,m,,4193.0,07222605934,,martyna.hartman@wp.pl,2007-02-26,...,,,,,,,,,,
8,,Karolina,Rurarz,k,,4194.0,00000000nan,,justyna.mattu@gmail.com,2007-05-05,...,,,,,,,,,,
9,,Wiktoria,Puczyłowska,k,,4195.0,00000000nan,,puczylowska.k@gmail.com,2005-07-18,...,,,,,,,,,,
10,,Antonina,Stus,k,,4196.0,07253006287,,jstus@wp.pl,2007-05-30,...,,,,,,,,,,
11,,Kamil,Błądek,m,,1208.0,06232211151,,andrzej.drzymala@op.pl,2006-03-22,...,,,,,,,,,,
12,,Matvei,Borisuk,m,,1209.0,06231208415,,yunonna1984@gmail.com,2006-03-12,...,,,,,,,,,,
13,,Juliusz Tadeusz,Cegliński,m,,1210.0,07231706699,,,2007-03-17,...,,,,,,,,,,
14,,Patrik,Goertz,m,,1211.0,07290311795,,margo.goertz@gmx.de,2007-09-03,...,,,,,,,,,,
15,,Kalina,Jakubczak,k,,1214.0,06312008640,,balticanchor@gmail.com,2006-11-20,...,,,,,,,,,,
16,,Maciej,Kandybowicz,m,,4197.0,05292011910,,magda.kandybowicz@gmail.com,2005-09-20,...,,,,,,,,,,
17,,Zuzanna,Kielańska,k,,1216.0,07290411822,,kachaflorek@gmail.com,2007-09-04,...,,,,,,,,,,
18,,Dominik,Kowalczyk,m,,1217.0,06251212674,,ewakowalczyk09@gmail.com,2006-05-12,...,,,,,,,,,,
19,,Nadia,Kuch,k,,1218.0,06322105744,,anna.kuch@gmx.ch,2006-12-21,...,,,,,,,,,,
20,,Michał,Majchrowicz,m,,1254.0,07292900272,,aga.maj007@gmail.com,2007-09-09,...,,,,,,,,,,
21,,Szymon,Sąsiadek,m,,1249.0,07323110311,,mirkasasiadek@googlemail.com,2007-12-31,...,,,,,,,,,,
22,,Oliwia,Średniawa,k,,1220.0,07281712389,,sredniawamaria@gmail.com,2007-08-17,...,,,,,,,,,,
23,,Maja,Zimnoch,k,,4198.0,03232907084,,artymus@o2.pl,2003-03-29,...,,,,,,,,,,
24,,Sonia,Tylińska,k,,4199.0,05312201183,,sylwiakasyna@gmail.com,2005-11-22,...,,,,,,,,,,
25,,Adrian,Puczkowski,m,,4200.0,05212111476,,adrianpuczkowski@interia.pl,2005-01-21,...,,,,,,,,,,
26,,Bartosz,Motyka,m,,4201.0,03302409630,,patrykmotyka98@gmail.com,2003-10-24,...,,,,,,,,,,
27,,Marek,Talarowski,m,,4202.0,06262308476,,,2006-06-23,...,,,,,,,,,,
28,,Ewa,Jarosz,k,,4203.0,07272005623,,,2007-07-20,...,,,,,,,,,,
29,,Alan,Romanowski,m,,4204.0,06261905193,,,2006-06-19,...,,,,,,,,,,
30,,Jan,Wygaś,m,,4205.0,00000000nan,,,2006-04-11,...,,,,,,,,,,
31,,Zofia,Kozakiewicz,k,,4206.0,07252506245,,Aga.sroczyńska@gmail.com,2007-05-25,...,,,,,,,,,,
32,,Ryszard,Pawlak,m,,4207.0,00000000nan,,,NaT,...,,,,,,,,,,
33,,Maja,Kordulewska,k,,4208.0,07251107645,,kkordulewski@gmail.com,2007-05-11,...,,,,,,,,,,

In [45]:
cd['Imiona'] = cd['Imiona'].str.title()
cd['Nazwisko'] = cd['Nazwisko'].str.title()
cd['Nr księgi ucznia'] = cd['Nr księgi ucznia'].astype(str).str.split('.').str[0]

In [46]:
cd.loc[cd['Data urodzenia'].isna()]

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
32,,Ryszard,Pawlak,m,,4207,00000000nan,,,NaT,...,,,,,,,,,,

In [47]:
cd = cd.drop(32)

In [48]:
cd.to_csv('klasa2LOram.csv', sep = ';', encoding = 'windows-1250', errors='ignore', index=False)

In [282]:
db.columns

Index(['L.p.', 'Nazwisko', 'Imię', 'Drugie imię', 'nr_ksiegi',
       'Data urodzenia', 'Miejsce ur', 'PESEL', 'Inny dok', 'Nr i seria',
       'Kraj', 'e-mail', 'Klasa'],
      dtype='object')

In [289]:
db.Klasa.unique()

array(['1 LO ram', '1 LO uzup', '1 sp ram', '1 sp uzup', '2 LO ram',
       '2 LO uzup', '2 sp ram', '2 sp uzup', '3 LO ram', '3 LO uzup',
       '3 sp ram', '3 sp uzup', '4 LO ram', '4 LO uzup', '4 sp ram',
       '4 sp uzup', '5 sp ram', '5 sp uzup', '6 sp ram', '6 sp uzup',
       '7 sp ram', '7 sp uzup', '8 sp ram', '8 sp uzup'], dtype=object)

In [290]:
db.loc[db['Klasa'] == '3 sp ram']

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1.0,Bryliński,Aleksander,Piotr,13210603415.0,NaT,2013-01-06 00:00:00,Kraków,3507.0,NaN,NaN,Madagaskar,3 sp ram
1,2.0,Matuszczak,Gabriel,Stefan,13271500915.0,NaT,2013-07-15 00:00:00,Kościerzyna,3508.0,NaN,NaN,Polska,3 sp ram
2,3.0,Magdziarz,Jan,NaN,NaN,NaT,2013-02-11 00:00:00,Lublin,3509.0,Inny dokument ze zdjęciem,DEE115004,Włochy,3 sp ram
3,4.0,Kucharska,Julia,NaN,13292705540.0,NaT,2013-09-27 00:00:00,Ełk,3510.0,NaN,NaN,Stany Zjednoczone,3 sp ram
4,5.0,Barrau-Kamińska,Ewa,Hermine,13300806148.0,NaT,2013-10-08 00:00:00,Warszawa,3511.0,NaN,NaN,Francja,3 sp ram
5,6.0,Błażejczyk,Cyprian,Oskar,13212609098.0,NaT,2013-01-26 00:00:00,Craigavon,3512.0,NaN,NaN,Wielka Brytania,3 sp ram
6,7.0,Ciarciński,Franciszek,NaN,13210501171.0,NaT,2013-01-05 00:00:00,Świebodzice,3513.0,NaN,NaN,Ukraina,3 sp ram
7,8.0,Dawidowski,Kuba,NaN,13281707276.0,NaT,2013-08-17 00:00:00,Warszawa,3514.0,NaN,NaN,Stany Zjednoczone,3 sp ram
8,9.0,Farrell,Daniel,NaN,13233008592.0,NaT,2013-03-30 00:00:00,Auckland,3515.0,NaN,NaN,Holandia,3 sp ram
9,10.0,Głogowski,Marcel,NaN,13290609556.0,NaT,2013-09-06 00:00:00,Ustka,3516.0,NaN,NaN,Niemcy,3 sp ram
10,11.0,Harbi,Adam,NaN,14233110614.0,NaT,2014-03-31 00:00:00,Egipt,3517.0,NaN,NaN,Egipt,3 sp ram
11,12.0,Heugh,Daniella,NaN,NaN,NaT,2014-06-20 00:00:00,Wrocław,3518.0,paszport,EK 9555242,RPA,3 sp ram
12,13.0,Juszczyk,Julia,Agata,NaN,NaT,2013-10-10 00:00:00,Chełm,3519.0,NaN,NaN,Francja,3 sp ram
13,14.0,Kalota,Leonard,NaN,13290211638.0,NaT,2013-09-02 00:00:00,Yogyakarta,3520.0,NaN,NaN,Indonezja,3 sp ram
14,15.0,Masalski,Krystian,NaN,13290808498.0,NaT,2013-09-08 00:00:00,Halifax,3521.0,NaN,NaN,Wielka Brytania,3 sp ram
15,16.0,Misztal Alvarez,Nadia,NaN,13312011088.0,NaT,2013-11-20 00:00:00,Ponteareas,3522.0,NaN,NaN,Hiszpania,3 sp ram
16,17.0,Nowakowska,Joanna,NaN,13271905963.0,NaT,2013-07-19 00:00:00,Tychy,3523.0,NaN,NaN,Kazachstan,3 sp ram
17,18.0,Pac,Nadia,NaN,12311911382.0,NaT,2012-11-19 00:00:00,Gdańsk,3524.0,NaN,NaN,Grecja,3 sp ram
18,19.0,Piasecki,Filip,Einar,13322710339.0,NaT,2013-12-27 00:00:00,Bergen,3525.0,NaN,NaN,Norwegia,3 sp ram
19,20.0,Planas Majchrzak,Victor,NaN,14240200070.0,NaT,2014-04-02 00:00:00,Kraków,3526.0,NaN,NaN,Hiszpania,3 sp ram
20,21.0,Polewski,Bartek,Dawid,14240408256.0,NaT,2014-04-04 00:00:00,Bielsko-Biała,3527.0,NaN,NaN,Grecja,3 sp ram
21,22.0,Rybicki,Stanisław,NaN,13291007438.0,NaT,2013-09-10 00:00:00,Gdańsk,3528.0,NaN,NaN,Grenada,3 sp ram
22,23.0,Safonov,Georgy,NaN,13302509810.0,NaT,2013-10-25 00:00:00,Kraków,3529.0,NaN,NaN,Szwecja,3 sp ram
23,24.0,Salwach,Tulasi,Mandżari,13280307781.0,NaT,2013-08-03 00:00:00,Koszalin,3530.0,NaN,NaN,Wielka Brytania,3 sp ram
24,25.0,Sylla,Fode,Zygmund,13260711937.0,NaT,2013-06-07 00:00:00,Exeter/ Anglia,3531.0,NaN,NaN,Wielka Brytania,3 sp ram
25,26.0,Szałapska,Nel,NaN,13300310263.0,NaT,2013-10-03 00:00:00,Opoczno,3532.0,NaN,NaN,Niemcy,3 sp ram
26,27.0,Tybuś,Natalia,Gizela,13232904287.0,NaT,2013-03-29 00:00:00,Gdynia,3533.0,NaN,NaN,Irlandia,3 sp ram
27,28.0,Zaky,Adam,NaN,13212111273.0,NaT,2013-01-21 00:00:00,Londyn,3534.0,NaN,NaN,Wielka Brytania,3 sp ram
28,29.0,Abouzeid,Laila,NaN,1328081330.0,NaT,2013-08-08 00:00:00,Egipt/Kair,3535.0,NaN,NaN,Egipt,3 sp ram
29,30.0,Apolonia,Kisel,Maria,1328100928.0,NaT,2013-08-10 00:00:00,Edinburgh,3536.0,NaN,NaN,Wielka Brytania,3 sp ram
30,31.0,Kisiel,Apolonia,Maria,1328100928.0,NaT,2014-08-10 00:00:00,Edinburgh,3537.0,NaN,NaN,Wielka Brytania,3 sp ram
31,32.0,Kucharska,Julia,Brak,1329270554.0,NaT,2013-09-27 00:00:00,Ełk,3538.0,NaN,NaN,Stany Zjednoczone,3 sp ram
32,33.0,Kula,Sylwia,NaN,1321231034.0,NaT,2013-01-23 00:00:00,Mysłowice,3539.0,NaN,NaN,Czechy,3 sp ram
33,34.0,Mudlaff,Aleksandra,NaN,1330160090.0,NaT,2013-10-16 00:00:00,Gdańsk,3540.0,NaN,NaN,Cypr,3 sp ram
34,35.0,Murzanski,Cody,Jacob,1324010787.0,NaT,2013-04-01 00:00:00,"Hoffman Estates Il, U.S.A.",3541.0,NaN,NaN,Stany Zjednoczone,3 sp ram

In [86]:
dd.loc[dd['Nazwisko'].str.contains('Mayer', case = False)]

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
10,11.0,Mayer,Wiktor,NaN,3930.0,2010-07-31,Warszawa,10273108097.0,NaN,NaN,Hiszpania,mayermonika@outlook.com,6 sp ram