In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
zakladki = pd.read_excel('Lista uczniów SP_LO_2022_2023 propozycje ocen rocznych.xlsx', sheet_name=None).keys()
zakladki

dict_keys(['1 SP uzup', '1 SP ram', '2 SP uzup', '2 SP ram', '3 SP uzup', '3 SP ram', '4 SP ram', '4 SP uzup', '5 SP uzup', '5 SP ram', '6 SP ram', '6 SP uzup', '7 SP uzup', '8 SP uzup', '7 SP ram', '8 SP ram', '1 LO uzup', '1 LO ram', '2 LO ram', '2 LO uzup', '3 LO uzup', '3 LO ram', '4 LO uzup', 'Arkusz1'])

In [3]:
zakladki = ['1 SP uzup', '1 SP ram', '2 SP uzup', '2 SP ram', '3 SP uzup', '3 SP ram', '4 SP ram', '4 SP uzup', '5 SP uzup', '5 SP ram', '6 SP ram', '6 SP uzup', '7 SP uzup', '8 SP uzup', '7 SP ram', '8 SP ram', '1 LO uzup', '1 LO ram', '2 LO ram', '2 LO uzup', '3 LO uzup', '3 LO ram', '4 LO uzup']
zakladki.sort()
# zakladki

In [4]:
df = pd.concat(pd.read_excel('Lista uczniów SP_LO_2022_2023 propozycje ocen rocznych.xlsx', sheet_name=s, usecols='B:E', skiprows=1).assign(Klasa = s) for s in zakladki)

In [5]:
df.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię/Imiona', 'e-mail', 'Klasa'], dtype='object')

In [6]:
df.dropna(subset=['L.p.', 'Nazwisko ucznia'], inplace = True)

In [7]:
df.drop_duplicates(subset=['Nazwisko ucznia', 'Imię/Imiona','Klasa'])
df

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram
2,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram
3,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram
4,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram
5,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [8]:
df.loc[df['Klasa']=='8 SP uzup']

,L.p.,Nazwisko ucznia,Imię/Imiona,e-mail,Klasa
1,1.0,Abdel Kader,Yasmin Magdalena,agnieszka.kozlowska@mail.com,8 SP uzup
2,2.0,Abdelmouatty,Omar,sahar.hussein2009@yahoo.com,8 SP uzup
3,3.0,Andruchów,Mikołaj,agandruchow@yahoo.pl,8 SP uzup
4,4.0,Bartczak,Nikodem Wojciech,bartczak18@o2.pl,8 SP uzup
5,5.0,Bartkiewicz,Jan,ewabart5@gmail.com,8 SP uzup
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [9]:
dbzakladki = pd.read_excel('Uczniowie KNO 2022-2023 - aktualna — kopia.xlsx', sheet_name=None).keys()

In [10]:
dbzakladki= list(dbzakladki)
dbzakladki.sort()
dbzakladki

['1 LO ram',
 '1 LO uzup',
 '1 sp ram',
 '1 sp uzup',
 '2 LO ram',
 '2 LO uzup',
 '2 sp ram',
 '2 sp uzup',
 '3 LO ram',
 '3 LO uzup',
 '3 sp ram',
 '3 sp uzup',
 '4 LO ram',
 '4 LO uzup',
 '4 sp ram',
 '4 sp uzup',
 '5 sp ram',
 '5 sp uzup',
 '6 sp ram',
 '6 sp uzup',
 '7 sp ram',
 '7 sp uzup',
 '8 sp ram',
 '8 sp uzup',
 'Arkusz1',
 'Arkusz2',
 'Podsumowanie',
 'Teams uczniowie ALL',
 'Zespoły w Teams']

In [11]:
dbzakladki = ['1 LO ram',
 '1 LO uzup',
 '1 sp ram',
 '1 sp uzup',
 '2 LO ram',
 '2 LO uzup',
 '2 sp ram',
 '2 sp uzup',
 '3 LO ram',
 '3 LO uzup',
 '3 sp ram',
 '3 sp uzup',
 '4 LO ram',
 '4 LO uzup',
 '4 sp ram',
 '4 sp uzup',
 '5 sp ram',
 '5 sp uzup',
 '6 sp ram',
 '6 sp uzup',
 '7 sp ram',
 '7 sp uzup',
 '8 sp ram',
 '8 sp uzup']

In [12]:
db = pd.concat(pd.read_excel('Uczniowie KNO 2022-2023 - aktualna — kopia.xlsx', usecols='A:L', sheet_name = s).assign(Klasa = s) for s in dbzakladki)

In [13]:
db.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię ucznia', 'Drugie imię ucznia',
       'nr ksiegi', 'Data urodzenia ucznia', 'Miejsce urodzen..',
       'PESEL ucznia', 'Inny dokument t..', 'Nr i seria doku..',
       'Kraj pobytu ucznia', 'Email', 'Klasa'],
      dtype='object')

In [14]:
db

,L.p.,Nazwisko ucznia,Imię ucznia,Drugie imię ucznia,nr ksiegi,Data urodzenia ucznia,Miejsce urodzen..,PESEL ucznia,Inny dokument t..,Nr i seria doku..,Kraj pobytu ucznia,Email,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07 00:00:00,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14 00:00:00,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10 00:00:00,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30 00:00:00,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16 00:00:00,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27 00:00:00,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21 00:00:00,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04 00:00:00,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09 00:00:00,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12 00:00:00,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [15]:
db.dropna(subset=['L.p.'], inplace = True)

In [16]:
db.drop_duplicates(subset=['Nazwisko ucznia', 'Imię ucznia', 'Klasa'], inplace = True)

In [17]:
db

,L.p.,Nazwisko ucznia,Imię ucznia,Drugie imię ucznia,nr ksiegi,Data urodzenia ucznia,Miejsce urodzen..,PESEL ucznia,Inny dokument t..,Nr i seria doku..,Kraj pobytu ucznia,Email,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07 00:00:00,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14 00:00:00,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10 00:00:00,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30 00:00:00,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16 00:00:00,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27 00:00:00,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21 00:00:00,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04 00:00:00,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09 00:00:00,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12 00:00:00,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [18]:
db['Data urodzenia ucznia'] = pd.to_datetime(db['Data urodzenia ucznia'], errors='coerce')

C:\Users\WojciechBalcerzak\AppData\Local\Temp\ipykernel_10600\1309943092.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  db['Data urodzenia ucznia'] = pd.to_datetime(db['Data urodzenia ucznia'], errors='coerce')

In [19]:
db

,L.p.,Nazwisko ucznia,Imię ucznia,Drugie imię ucznia,nr ksiegi,Data urodzenia ucznia,Miejsce urodzen..,PESEL ucznia,Inny dokument t..,Nr i seria doku..,Kraj pobytu ucznia,Email,Klasa
0,1,Staśkiewicz,Anna,Magdalena,4149,2007-12-07,Piła,7320704782,NaN,NaN,Niemcy,alinastaskiewicz@o2.pl,1 LO ram
1,2,Chicińska-Ryster,Nikola,Żaneta,4150,2008-04-14,CHESTERFIELD ENGLAND,8241412527,NaN,NaN,Wielka Brytania,strati-matyja,1 LO ram
2,3,Papież,Kristian,Alan,4151,2007-12-10,Reykjanesbaer - Islandia,NaN,Paszport,ER0669334,Islandia,kristiano2007@gmail.com,1 LO ram
3,4,Kukieła,Amelia,Magdalena,4152,2007-10-30,Bielsko-Biała,7303002809,NaN,NaN,Polska,magda@wp.eu,1 LO ram
4,5,Patacz,Amelia,Michalina,1853,2007-04-16,POLANICA ZDRÓJ,7241601308,Inny dokument ze zdjęciem,CCF287398,Szwecja,edzia1703@o2.pl,1 LO ram
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99.0,Włodraczyk,Wiktoria,NaN,4060,2008-04-27,Wałcz,8242702500,NaN,NaN,Turcja,NaN,8 sp uzup
99,100.0,Yalovskyi,Yaroslav,NaN,4061,2008-11-21,Kijów,8312114459,NaN,NaN,Ukraina,juliajalov@gmail.com;fogartu@qulook.com,8 sp uzup
100,101.0,Krawczak,Matthew,Peter,4062,2008-03-04,ST.Thomas,8230413375,NaN,NaN,Kanada,leskrawczak@Gmail.com,8 sp uzup
101,102.0,Lenkiewicz,Zuzanna,NaN,4063,2008-05-09,Londyn,8250912500,NaN,NaN,Wielka Brytania,anka_jak@yahoo.com,8 sp uzup
102,103.0,Radzimiński,Igor,NaN,4624,2009-04-12,Warszawa,9241206590,NaN,NaN,Moskwa,a.radziminska@wp.pl,8 sp uzup

In [20]:
df.columns

Index(['L.p.', 'Nazwisko ucznia', 'Imię/Imiona', 'e-mail', 'Klasa'], dtype='object')

In [21]:
df.columns = ['L.p.', 'Nazwisko', 'Imię', 'e-mail', 'Klasa']

In [22]:
db.columns = ['L.p.', 'Nazwisko', 'Imię', 'Drugie imię',
       'nr_ksiegi', 'Data urodzenia', 'Miejsce ur',
       'PESEL', 'Inny dok', 'Nr i seria',
       'Kraj', 'e-mail', 'Klasa']

In [23]:
df

,L.p.,Nazwisko,Imię,e-mail,Klasa
1,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram
2,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram
3,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram
4,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram
5,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram
...,...,...,...,...,...
91,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup
92,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup
93,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup
94,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup
95,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup

In [24]:
d = df.merge(db[['Nazwisko', 'Imię', 'Drugie imię','nr_ksiegi', 'Data urodzenia', 'Miejsce ur','PESEL', 'Klasa']], on=['Nazwisko', 'Imię', 'Klasa'], how = 'left')

In [25]:
d

,L.p.,Nazwisko,Imię,e-mail,Klasa,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL
0,1.0,Bembnista,Dawid,jolbem1978@gmail.com tombem30@wp.pl,1 LO ram,NaN,4184,2007-01-12,Nakło Nad Notecią,7211200535
1,2.0,Bryliński,Bogdan,contact@olgabrylinska.com,1 LO ram,Piotr,4178,2008-02-11,Kraków,8221103515
2,3.0,Chicińska-Ryster,Nikola,izabela2169@wp.pl,1 LO ram,Żaneta,4150,2008-04-14,CHESTERFIELD ENGLAND,8241412527
3,4.0,Ciźla,Nadia,cpn.fit@gmail.com,1 LO ram,NaN,4161,2007-11-15,Schwedt nad Odrą,7311508520
4,5.0,Czarnocka,Nikoletta,tamara.c@wp.pl,1 LO ram,s,4160,2007-11-13,Warszawa,7311302964
...,...,...,...,...,...,...,...,...,...,...
1620,91.0,Łapicz-Biedź,Zachary Oliver,wbiedz@gmail.com,8 SP uzup,NaN,NaN,NaT,NaN,NaN
1621,92.0,Łoboz,Julia Danuta,gwiazdap@op.pl,8 SP uzup,NaN,NaN,NaT,NaN,NaN
1622,93.0,Śladewski,Antoni,jacek.sladewski@msz.gov.pl,8 SP uzup,NaN,NaN,NaT,NaN,NaN
1623,94.0,Żukrowska,Anastazja Apolonia,k.a.zukrowska@gmail.com,8 SP uzup,NaN,NaN,NaT,NaN,NaN
1624,95.0,Lenkiewicz,Zuzanna,anka_jak@yahoo.com,8 SP uzup,NaN,NaN,NaT,NaN,NaN

In [145]:
d.to_clipboard(index = False)

In [26]:
cc = pd.read_excel('../import_uczniow.xls')

In [27]:
cc.columns

Index(['Nr z dziennika', 'Imiona', 'Nazwisko', 'Płęć', 'Nr Karty',
       'Nr księgi ucznia', 'Pesel', 'Tel Ucznia', 'e-mail ucznia',
       'Data urodzenia', 'Miejsce urodzenia', 'Miejsce urodzenia miejscownik',
       'Ulica i nr domu', 'Kod pocztowy i miejscowość ', 'Województwo',
       'imię i nazwisko matki', 'numer telefonu do matki',
       'imię i nazwisko ojca', 'numer telefonu do ojca', 'email opiekun1 ',
       'email opiekun 2', 'uwagi ucznia'],
      dtype='object')

In [28]:
dd = db.loc[db['Klasa'] =='8 sp uzup']

In [29]:
dd.head()

,L.p.,Nazwisko,Imię,Drugie imię,nr_ksiegi,Data urodzenia,Miejsce ur,PESEL,Inny dok,Nr i seria,Kraj,e-mail,Klasa
0,1.0,PIETRAS,Julianna,Jadwiga,3992,2009-05-08,"Uccle, Belgia",NaN,Paszport,EH7513456,Belgia,andrea.pietras@onet.eu,8 sp uzup
1,2.0,Paprotny,Jerzy,Łukasz,3993,2009-02-12,Warszawa,9221208958,NaN,NaN,"Słowenia, Ljubljana",lpaprotny@gmail.com,8 sp uzup
2,3.0,Włodarczyk,Wiktoria,NaN,4060,2008-04-27,Wałcz,8242702500,NaN,NaN,"Turcja, Izmir",wlodarczyka@op.pl,8 sp uzup
3,4.0,Janik,Iwo,Stanisław,3995,2009-06-20,Warszawa,9262009897,NaN,NaN,"Turcja, Ankara",janikagnieszka@wp.pl,8 sp uzup
4,5.0,Skóra,Jagoda Aniela,NaN,3996,2008-08-13,Gdańska,82813037882,NaN,NaN,Wielka Brytania,patrycjawojtkowiak@o2.pl,8 sp uzup

In [30]:
# Inicjalizujemy pustą ramkę danych z odpowiednimi kolumnami
cd = pd.DataFrame(columns=cc.columns)

# Przypisujemy kolumny z dd do odpowiednich kolumn w cd
cd[['Nr księgi ucznia', 'Imiona', 'Nazwisko', 'Data urodzenia', 'Miejsce urodzenia', 'Pesel', 'e-mail ucznia']] = dd[['nr_ksiegi', 'Imię', 'Nazwisko', 'Data urodzenia', 'Miejsce ur', 'PESEL', 'e-mail']]

# Zostawiamy pozostałe kolumny puste, ponieważ nie mamy dla nich danych w dd

In [31]:
cd.head()

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Julianna,PIETRAS,NaN,NaN,3992,NaN,NaN,andrea.pietras@onet.eu,2009-05-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Jerzy,Paprotny,NaN,NaN,3993,9221208958,NaN,lpaprotny@gmail.com,2009-02-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Wiktoria,Włodarczyk,NaN,NaN,4060,8242702500,NaN,wlodarczyka@op.pl,2008-04-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Iwo,Janik,NaN,NaN,3995,9262009897,NaN,janikagnieszka@wp.pl,2009-06-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Jagoda Aniela,Skóra,NaN,NaN,3996,82813037882,NaN,patrycjawojtkowiak@o2.pl,2008-08-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
# Usuwamy '.0' na końcu wartości, konwertujemy na string
cd['Pesel'] = cd['Pesel'].astype(str).str.split('.').str[0]

# Uzupełniamy zera na początku do 11 cyfr
cd['Pesel'] = cd['Pesel'].str.zfill(11)

In [32]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Julianna,PIETRAS,NaN,NaN,3992,NaN,NaN,andrea.pietras@onet.eu,2009-05-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Jerzy,Paprotny,NaN,NaN,3993,9221208958,NaN,lpaprotny@gmail.com,2009-02-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Wiktoria,Włodarczyk,NaN,NaN,4060,8242702500,NaN,wlodarczyka@op.pl,2008-04-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Iwo,Janik,NaN,NaN,3995,9262009897,NaN,janikagnieszka@wp.pl,2009-06-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Jagoda Aniela,Skóra,NaN,NaN,3996,82813037882,NaN,patrycjawojtkowiak@o2.pl,2008-08-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,NaN,Wiktoria,Włodraczyk,NaN,NaN,4060,8242702500,NaN,NaN,2008-04-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,Yaroslav,Yalovskyi,NaN,NaN,4061,8312114459,NaN,juliajalov@gmail.com;fogartu@qulook.com,2008-11-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,Matthew,Krawczak,NaN,NaN,4062,8230413375,NaN,leskrawczak@Gmail.com,2008-03-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,Zuzanna,Lenkiewicz,NaN,NaN,4063,8250912500,NaN,anka_jak@yahoo.com,2008-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,Igor,Radzimiński,NaN,NaN,4624,9241206590,NaN,a.radziminska@wp.pl,2009-04-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
cd['Płęć'] = cd['Imiona'].apply(lambda x: 'K' if str(x).strip().endswith('a') else 'M')

In [36]:
cd

,Nr z dziennika,Imiona,Nazwisko,Płęć,Nr Karty,Nr księgi ucznia,Pesel,Tel Ucznia,e-mail ucznia,Data urodzenia,...,Ulica i nr domu,Kod pocztowy i miejscowość,Województwo,imię i nazwisko matki,numer telefonu do matki,imię i nazwisko ojca,numer telefonu do ojca,email opiekun1,email opiekun 2,uwagi ucznia
0,NaN,Julianna,PIETRAS,K,NaN,3992,NaN,NaN,andrea.pietras@onet.eu,2009-05-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Jerzy,Paprotny,M,NaN,3993,9221208958,NaN,lpaprotny@gmail.com,2009-02-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Wiktoria,Włodarczyk,K,NaN,4060,8242702500,NaN,wlodarczyka@op.pl,2008-04-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Iwo,Janik,M,NaN,3995,9262009897,NaN,janikagnieszka@wp.pl,2009-06-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Jagoda Aniela,Skóra,K,NaN,3996,82813037882,NaN,patrycjawojtkowiak@o2.pl,2008-08-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,NaN,Wiktoria,Włodraczyk,K,NaN,4060,8242702500,NaN,NaN,2008-04-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,Yaroslav,Yalovskyi,M,NaN,4061,8312114459,NaN,juliajalov@gmail.com;fogartu@qulook.com,2008-11-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,Matthew,Krawczak,M,NaN,4062,8230413375,NaN,leskrawczak@Gmail.com,2008-03-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,Zuzanna,Lenkiewicz,K,NaN,4063,8250912500,NaN,anka_jak@yahoo.com,2008-05-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,Igor,Radzimiński,M,NaN,4624,9241206590,NaN,a.radziminska@wp.pl,2009-04-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
cd['Imiona'] = cd['Imiona'].str.title()
cd['Nazwisko'] = cd['Nazwisko'].str.title()

In [40]:
cd.to_csv('klasa8uzup.csv', sep = ';', encoding = 'windows-1250', errors='ignore', index=False)